.toggleButton {
  position: absolute;
  top: 15px;
  right: 25px;

  width: 150px;
  height: auto;
  background-color: var(--button-bg);
  border-radius: 34px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px auto;
}

[data-theme="dark"] .toggleButton {
  background-color: var(--button-bg);
}
[data-theme="dark"] .toggleButton:hover {
  background-color: var(--button-bg);
  border-color: #fff564;
  background-color: var(--button-hover);
}
