.app {
  box-shadow: 1px 2px 45px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-image: var(--background-color);
}

.icon-coin,
.icon-pickaxe,
.icon-refresh {
  margin-right: 5px;
  color: #39a6b9;
}

.headers span {
  display: inline-block;
}

button:disabled {
  /* background-color: #807a7a; */
  border: 1px solid #ccc;
  cursor: not-allowed;
  opacity: 0.3;
}
p {
  text-align: center;
}
@media screen and (max-width: 575px) {
  .app {
    width: auto;
    height: 80vh;
  }
}
